@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #9C29B2;
    --main-color: #fff;
    --secondary-color: #FAFF00;
}

.main-header{
    background-color: var(--primary-color) !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Righteous', sans-serif;
}

p{
    text-align: justify;
}

.home-section{
    background-color: #FAFF00;
    height: 80vh;
}

.main-heading{
    color: #9C29B2;
    font-size: 3.5rem;
    -webkit-text-stroke: #fff 3px;
}

.main-para{
    color: #9C29B2;
}

.bttn{
    background-color: #9C29B2;
    border: none;
    width: 130px;
    height: 50px;
}

.bttn:hover{
    background-color: #4f085e;
}

.txtt{
color: #9C29B2;
text-align: center;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.cards{
    justify-content: center;
    align-items: center;
}

.c-2{
    background: #9C29B2;
    color: #fff;
}

.about-us{
    background: #9C29B2;
    overflow: hidden;
}

.btttn{
        background-color: #ffffff;
        color: #9C29B2;
        border: none;
        width: 130px;
        height: 50px;
}

.txxt{
    color: #9C29B2;
    font-size: 20px;
}

.par{
    font-size: 15px;
}

.txxtt{
    font-size: 25px;
    color: #9C29B2;
    font-weight: bolder;
}

.bt{
    color: #9C29B2;
    cursor: pointer;
}

.cd{
    border-radius: 30px;
}

.admissions {
    height: 120vh;
    background-color: #4f085e;
}



.sv-txt{
    font-size: 30px;
    color: white;
}

.sv-img{
    height: 50vh;
}

.services{
    width: 1345px;
    height: 741px;

}

.contact {
    background-image: url('./assets/img/Rectangle 19');
    height: 90vh;
}